*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
#display-section {
    width:100%;
    height: 18%;
    /*display: flex;
    justify-content: flex-end;*/
}
#display-section input{
    height: 100%;
    width: 100%;
    font-size: 45px;
    text-align: right;
}
#inputBox{
    color: antiquewhite;
    background-color: black;

}
/*#display-section .display{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}*/
/*span{
    color:white;
    text-align: center;
    font-size: larger;
    cursor: pointer;
}*/
body{
    background-color:rgb(225, 231, 236);
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator{
    margin-top: 100px;
    height: 565px;
    width: 320px;
    padding: 0px  10px 10px 10px;
    background-color: black;
    border-radius: 5px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 3px;
}
.button{
    width: 75px;
    aspect-ratio: 1;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 80%;
    color: white;
    background-color: black;
    box-shadow: 0 2px 1px 2px rgb(239, 193, 193);
    margin-left: 8px;
    margin-bottom: 8px;
}
.operator{
    background-color: rgb(225, 231, 236);
    color: black;
}
.button:active{
    transform: translate(2px, 2px);
}
.row-1{
    padding-top: 7px;
}
#eqlBtn{
    background-color: orangered;
    font-weight: 700;
}
.nav{
    background-color: white;
}
.top-icons{
    height: 35px;
    width: 35px;
    margin: 10px 5px;
    border-radius: 5px;
}
#top-options{
    display: flex;
    justify-content: space-around;
}
a{
    text-align: center;
    color: antiquewhite;
    text-decoration: none;
}